
@* PasswordVergessen View  *@
@{
    ViewBag.Title = "Password vergeessen";
}
@* CSS Code *@
<style>
    body,html
    {
        height:100%;
    }
    #bild{
        margin-left:550px;
    }
</style>
@* HTML Elements *@
<h2>haben Sie Ihr Password vergessen?</h2>
<img src="~/Images/forgot.png"  id="bild" width="100" height="100"/>
@using(Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            @Html.TextBox("Email","" , new { @class="form--control"})
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
                <a href="@Url.Action("Index", "Home")" class="btn btn-info">Zurück</a>
            </div>
        </div>
    </div>
}