
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>VerifyAccount</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong> Ihre Konto ist erfolgreich aktiviert  Klicken Sie hier @Html.ActionLink("Login", "Login" ,"Registieren");
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>
}